<!DOCTYPE html>
<html>
<head>
  <title>{{ html_title }}</title>
  <style>
    body {background-color: powderblue;}
    h1 {color: red;}
    p {color: blue;}
  </style>
</head>
<body>
<p>{{ html_main_text }}</p>
<p>Server hostname: {{ansible_hostname}} </p>
<p>Apache webserver {{ apache_version }} is running on {{ ansible_os_family }} </p>
</body>
</html>
